body{
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #ffffff60;
    flex-direction: column;
    background-image: url("image/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
main{
    grid-area: 5 / 1 / 6 / 6;
}
header{
    grid-area: 1 / 1 / 2 / 6;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgba(27, 97, 76, 0.61);
    
}